body{
    margin: 0;
    background-image: url("https://ak.picdn.net/shutterstock/videos/1012154675/thumb/4.jpg");
    
    
}


body.hovered {
    background-color: black;
    background-image: url("https://media.giphy.com/media/P7JmDW7IkB7TW/giphy.gif"); 
    background-position: 0px -50px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.scoreboard {
    display: inline-block;
    background-color: black;
    color: white;
}

p {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    
}

.score {
    display: flex;
    color: green;
}

.highscore{
    display: flex;
    color: red;
}

.bird {
    background-color: yellow;
    display: inline-block;
    border: black;
    border-width: 5px;
    border-style: solid;
    position: relative;
    width: 30px;
    height: 30px;
    top: 50px;
    left: 200px;
}

.actual_grass{
    background-image: url("http://pngimg.com/uploads/grass/grass_PNG10855.png");
    background-position: center;
    background-size: 50%;
    background-color: transparent;
    background-repeat: repeat-x;
    position:absolute;
    height: 100px;
    top: 85%;
    width: 100%;
    
}

.volcano{
    height: 100px;
    background-image: url("http://pngimg.com/uploads/volcano/volcano_PNG49.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 635px;
}

.volcano1{
    height: 150px;
    width: 150px;
    left: 50px;
    top: 600px;
}

.volcano2{
    left: 500px;
    width: 90px;
}

.volcano3{
    right: 100px;
    width: 100px;
    height: 100px;
    top: 640px;
}

.volcano4{
    left: 900px;
    width: 80px;
}

.hovered-grass{
    background-color: grey;
    padding: 0;
    position: absolute;
    top: 93%;
    width: 100%;
    padding-bottom: 50px;
    box-shadow: 0px -5px 5px darkgray;
}



.grass {
    background-color: green;

    padding: 0;
    position: absolute;
    top: 92%;
    width: 100%;
    padding-bottom: 50px;
    box-shadow: 0px -5px 5px green;
}

.play_button{
    background-color: transparent;
    border-color: black;
    position: relative;
    top: 300px;
    left: 270px;
    font-size: 30px;
}

.play_button:hover {
    animation: play_button_hover 1s;
    
    border-color: red;
    color: transparent;
    box-shadow: 0px 0px 50px red;
    background-image: url("https://txt.1001fonts.net/img/txt/dHRmLjcyLjAwMDAwMC5VR3hoZVNCTGVXeHBaUSwsLjA,/sugar-death-2.regular.png");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 0, 0, 0.342);
}

.restart_button{
    display: none;
    position: absolute;
    top: 300px;
    left: 555px;
    font-size: 30px;
    background-color: transparent;
}

@keyframes play_button_hover {
    from{
        background-color: transparent;
        border-color: black;
        color: black;
    }

    to{
        color: transparent;
        border-color: red;
        background-image: url("https://txt.1001fonts.net/img/txt/dHRmLjcyLjAwMDAwMC5VR3hoZVNCTGVXeHBaUSwsLjA,/sugar-death-2.regular.png");
        box-shadow: 0px 0px 30px red;
        background-color: rgba(255, 0, 0, 0.342);
    }
}

