@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');



body {
    background-color: #363636;
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



nav {
    
    display: flex;
    justify-content: center;
    
}

ul {
    
    padding: 0;
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

hr {
    width: 10px;
    animation: bar-animation 1s;
    width: 52%
    
}

li{
    list-style-type: none;
    display: inline;
    color: White;
    font-size: 20px;
    padding: 2px;
    
    padding: 2px 10px 2px 10px;
    
    
    
}

.links{
    opacity: 0%;
    animation: navbar-animation 1s ;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    
}

.title{
    border: none;
    color: transparent;
    font-weight: bold;
    animation: nav-animation 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.navbar {
    color: transparent;
    opacity: 100%;
    animation-name: navbar-logo;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    margin: 0;
}



div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 350px;
    margin: 0;
    padding: 0;
    font-size: 100px;
    font-family: monospace;
    color: #696969;
    animation-name: helloworld-opacity;
    animation-duration: 1s;
    animation-delay: 3s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

span { 
    animation-name: no-letterhover;
    animation-duration: 1s;
    cursor: default; 
}

.letterspacing {
    opacity: 0%;
}

span:hover {
    animation-name: letterhover;
    animation-duration: 1s;
    color: #c96c02;
    cursor: default;
}







@keyframes bar-animation {
    from {
        width: 1%;
    }

    to {
        width: 52%;
    }
}

@keyframes navbar-animation {

    from{
        opacity: 0%;
        transform: translateY(100%);
    }

    to{
        opacity: 100%;
        transform: translateY(1%);
        
    }
    
}

@keyframes nav-animation {
    from{
        box-shadow: inset 0px 0 1px #c96c02, inset 0px 0 1px #c96c02;
    }

    to{
        box-shadow: inset -100px 0 1px #c96c02, inset 100px 0 1px #c96c02;
        
    }
}

@keyframes navbar-logo {
    from{
        color: transparent;
    }

    to{
        color: white;
    }
}

@keyframes letterhover {
    from{
        color: #696969;
    }

    to{
        color: #c96c02
    }
}

@keyframes no-letterhover {
    from{
        color: #c96c02;
    }

    to{
        color: #696969;
    }
}

@keyframes helloworld-opacity {
    from {
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

