@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #deecff;
}

.header{
    position: relative;
    text-align: center;
    top: 50px;
    margin: auto;
   
}

.title{
    padding: 0;
    font-size: 35px;
    letter-spacing: 5px;
}

.title-bar{
    position: relative;
    top: -25px;
    background-color: #37a2db;
    height: 5px;
    width: 100px;
    margin: auto;
}

.review-body{
    position: relative;
    top: 100px;
    width: 775px;
    height: 550px;
    text-align: center;
    background-color: #f5f9ff;
    box-shadow: #c7c7c7 1px 1px 10px 0.5px;
    margin:auto;
    align-content: center;
    justify-content: center;
}

.person-img{
    position: relative;
    margin: auto;
    top: 25px;
    height: 200px;
    width: 200px;
    background-color: transparent;
    background-image: url("https://res.cloudinary.com/diqqf3eq2/image/upload/v1586883334/person-1_rfzshl.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: #37a2db 10px -6px ;
}

.quote {
    background-color: #37a2db;
    position: relative;
    margin: auto;
    top: -160px;
    right: 75px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    color:white;
    background-size: 10px;
    padding: 1px;
}

.text{
    position: relative; 
    top: 15px;
    background-color:transparent;
    font-size: 20px;
    font-weight: lighter;
}

.name {
    letter-spacing: 5px;
    font-weight: bold;
}



.profession {
    color: #37a2db;    
    padding: 10px;
}

.description {
    margin: auto;
    width: 625px;
}

ul {
    text-align: center;
    display: flex;
    position: relative;
    left: 310px;
}

li {
    list-style: none;
}

.arrows {
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    margin-top: 15px;
    margin-right: 15px;
    color: #84caf0;
    animation: arrow-nohover 1s;
    border-radius: 5px;
    padding: 0px;
}

.arrows:hover {
    animation: arrow-hover 1s;
    color: #308fc2;
    border-color: #176a96;
    
}

.random{
    position: relative;
    right: 2px;
    background-color: transparent;
    color: #37a2db;
    border-color: #08649694;
    border-radius: 20%;
    padding: 10px;
    animation: random-nohover 1s;
}

.random:hover {
    animation: random-hover 1s;
    background-color: #0c82f1;
    border-color: #0c82f1;
    color: black;
}

@keyframes random-hover{
    from{
        color: #37a2db;
        background-color: transparent;
    }

    to{
        color: black;
        background-color: #0c82f1;
    }
}

@keyframes random-nohover{
    from{
        color: black;
        background-color: #0c82f1;
    }

    to{
        color: #37a2db;
        background-color: transparent;
    }
}


@keyframes arrow-hover {
    from{
        color: #84caf0;
        border-color: transparent;
    }

    to {
        color: #308fc2;
        border-color: #176a96;
    }
    
}

@keyframes arrow-nohover {
    from{
        color: #308fc2;
        border-color: #176a96;
    }

    to{
        color: #84caf0;
        border-color: transparent;
    }
    
}

